.footer{
    background-color: #ffffff;
    color: #0a3e7c;
}

form{
    display: flex;
    flex-direction: column;
    background-color: #e4e4e4;
    padding: 2rem;
    gap: 1rem;
}
input{
    width: 100%;
    max-width: 502px;
    height: 40px;
    margin: auto;
}
.form-button{
    max-height: 40px;
    background-color: #ff6200;
    margin: 15px auto;
    margin-bottom: 25px;
    font-size: 26px;
    color: #ffffff;
    border-radius: 5px;
    border-style: groove;
    border-width: 0;
    width: 100%;
    max-width: 502px;
}
.form-button:hover{
    background-color: #fa863f;
    cursor: pointer;
}
.fim{
    background-color: #0a3e7c;
    color: #ffffff;
    padding: 10px;
}
.sabermais{
    font-size: 46px;
}
.email{
    color: #000000;
}