.footer{
    background-color: #e9f2f1;
    color: #188c20;
}

input{
    width: 100%;
    max-width: 502px;
    height: 40px;
    margin: auto;
}
.venda{
    padding: 30px 10px 50px 10px;
    background-color: #188c20;
    color: #e9f2f1;
}
.fim{
    background-color: #188c20;
    color: #ffffff;
    padding: 10px;
}
.sabermais{
    font-size: 46px;
}
.email{
    color: #000000;
}

.preco{
    display: flex;
}

.inscreva{
    padding: 30px 10px 50px 10px;
    background-color: #bbf2c3;
    margin: auto;
}